body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #111111;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_main img {
    width: 100%;
    height: 100%;
    max-width: 180px;
    object-fit: cover;
}
.header_wrap nav ul {
    display: flex;
    gap: 50px;
    align-items: center;
}